.container {
    display: flex;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.presentation {
    display: flex;
    flex-direction: row;
}

h1 {
    color: var(--primary-color);
    font-size: 5rem;
}

.presentation-name {
    margin-top: 5rem;
    margin-left: 1rem;
    color: var(--primary-color);
    font-size: 3rem;
}

.presentation-text {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: justify;
    padding-right: 12.5rem;
}

.presentation-img {
    width: 50%;
    display: flex;
    justify-content: end;
}

.presentation-bottom{
    display: flex;
    flex-direction: row ;
    margin-top: 7rem;
    align-items: center;
}

.presentation-bottom button {
background-color: var(--secondary-color);
border-radius: 2rem;
border-color: var(--secondary-color);
width: 16rem;
height: 3rem;
font-size: 1.2rem;
color: white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer
}

.presentation-bottom img {
    margin-right: 0.8rem;
      width: 1.5rem;
    }

    .presentation-position {
        margin-left: 5rem ;
        font-size: 1.2rem;
        width: 50%;
     }
