<div class="container">
  <div class="container-presentation">
    <div class="presentation">
      <div class="greeting-container">
        <div class="greeting-wrapper">
          <div class="greeting-cube">
            <div class="greeting-face">Oi,</div>
            <div class="greeting-face">Hello,</div>
            <div class="greeting-face">Ciao,</div>
            <div class="greeting-face">Bonjour,</div>
            <div class="greeting-face">Hola,</div>
          </div>
        </div>
      </div>
      <p class="presentation-name">meu nome é Ellen</p>
    </div>

    <div class="presentation-img-max-width-768px">
      <img src="assets/ellen.png" alt="ellen" />
    </div>

    <div class="presentation-text">
      Eu sou desenvolvedora & transformo ideias em código e desafios em
      oportunidade
    </div>
    <div class="presentation-bottom">
      <a
        class="container-presentation"
        href="https://wa.me/+5562985201901"
        target="_blank"
      >
        <button>
          <img src="assets/whatsapp_white.svg" alt="whatsapp" />
          Vamos conversar?
        </button>
      </a>
      <div class="presentation-position">
        <p>Desenvolvedora full stack júnior C# e .NET / Angular</p>
      </div>
    </div>
  </div>
  <div class="presentation-img">
    <img src="assets/ellen.png" alt="ellen" />
  </div>
</div>
