<div class="container">

    <div class="container-presentation">
        <div class="presentation">
            <h1> Oi,</h1>
            <p class="presentation-name">meu nome é Ellen</p>
        </div>

        <div class="presentation-text">
            Eu sou desenvolvedora & transformo ideias em código e desafios em oportunidade
        </div>
        <div class="presentation-bottom">
            <button>
                <img src="assets/whatsapp_white.svg" alt="whatsapp" />
                Vamos conversar?
            </button>
            <div class="presentation-cargo">
                <p>Desenvolvedora full stack júnior C# e .NET / Angular</p>
            </div>
        </div>
    </div>
    <div class="presentation-img">
        <img src="assets/ellen.png" alt="ellen">
    </div>
</div>