
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;    
  }
   
  
  .header-right {
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;   
    /* transition: color 0.3s ease;  PAra animacao */ 
    font-size: 0.8rem;
    font-weight: 700 ;
  }
  .header-right a {
    margin: 5rem 1rem;     
  }
  .header-left a {
    margin: 0rem 0.5rem; 
  }
   
  .header__left :hover,
  .header__right :hover {
    color: #A374BD /* Cor ao passar o mouse */
  }
  
  .active {
    font-weight: bold;
    color: #1e90ff; /* Cor para o link ativo */
  }
  
