<div class="projetos-container">
  <div class="projetos-header">
    <h1>Eu construo projeto e coisas</h1>
    <p>Projetos de código aberto, aplicativos web.</p>
  </div>

  <div class="projetos-grid">
    <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/presente-dani.png" alt="Projeto" class="projeto-imagem">
          <h2>Site de arrecadação de dinheiro para presente</h2>
        </div>
        <p class="projeto-descricao">
          Este é um site que permite a criação de campanha de arrecadação para presentear alguém em ocasiões especiais, a interface do usuário facilita a doação, exibindo o valor arrecadado, a meta a ser atingida e o número de apoiadores. Os usuários podem visualizar a descrição do presente e contribuir diretamente pela plataforma que gera um QR code com a chave pix do organizador e o valor a ser doado escolhido pelo usuário.  .
A stack utilizada inclui Laravel no backend para gerenciar as APIs e JavaScript puro (Vanilla JS) no frontend para a interação do usuário. O site pode ser acessado via navegador e possui um design intuitivo para facilitar a experiência dos usuários.
        </p>
        <div class="card-footer">
          <a href="https://presente-dani.vercel.app/" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="https://github.com/ellenri/presente_dani" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/encontro_noivos_project.png" alt="Projeto" class="projeto-imagem">
          <h2>Site para Encontro de Noivos</h2>
        </div>
        <p class="projeto-descricao">
          API para saber cosas sobre cosas. Uma interface de programação de aplicativos que fornece informações detalhadas sobre diversos tópicos.
        </p>
        <div class="card-footer">
          <a href="https://projeto-encontro-noivos.vercel.app/" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="https://github.com/ellenri/projeto-encontro-noivos" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/presente-dani.png" alt="Projeto" class="projeto-imagem">
          <h2>AI Culinária</h2>
        </div>
        <p class="projeto-descricao">
          AI usando librerias opensource para saber que cocinar. Uma aplicação de inteligência artificial que sugere receitas baseadas em ingredientes disponíveis.
        </p>
        <div class="card-footer">
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="mais-trabalhos-container">
    <button class="mais-trabalhos-btn">mais trabalhos</button>
  </div>
</div>
