<div class="projetos-container" id="projetos">
  <div class="projetos-header">
    <h1>Eu construo projeto e coisas</h1>
    <p>Projetos de código aberto, aplicativos web.</p>
  </div>

  <div class="projetos-grid">
    <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/presente-dani.png" alt="Projeto" class="projeto-imagem">
          <h2>Site de vaquinha online</h2>
        </div>
        <p class="projeto-descricao">
          <strong>Descrição:</strong>Plataforma web de arrecadação coletiva (vaquinha online).<br>
<strong>Funcionalidade:</strong>Exibe o total arrecadado em relação à meta com contador e barra de progresso, permite registro de doações com nome e valor, gera QR Code PIX automaticamente para pagamento, mostra o número total de contribuintes e detalha os custos para obtenção da CNH.<br>
<strong>Tecnologias:</strong> React (TypeScript): Construção da interface de usuário;
\n Vite: Ferramenta de build rápida.
Supabase (PostgreSQL): Armazenamento das doações.
QRCode: Geração de códigos PIX.
React Toastify: Notificações interativas.
Hotjar: Análise de comportamento do usuário.
CSS: Estilização e animações.
        </p>
        <div class="card-footer">
          <a href="https://presente-dani.vercel.app/" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="https://github.com/ellenri/presente_dani" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/encontro_noivos_project.png" alt="Projeto" class="projeto-imagem">
          <h2>Encontro de Noivos - Plataforma de Sorteio e Acompanhamento</h2>
        </div>
        <p class="projeto-descricao">
          <strong>Descrição:</strong> Plataforma web para gestão de encontros de preparação para o matrimônio, com sorteio automático de casais de noivos para casais mentores.<br>

          <strong>Funcionalidades:</strong>

Cadastro de casais de noivos e mentores.
Sorteio automático com distribuição equilibrada.
Visualização clara dos resultados.
Design responsivo para todos os dispositivos.<br>
<strong>Tecnologias:</strong>

React (TypeScript)
Vite
React Router
Material UI
Supabase (PostgreSQL)
CSS
        </p>
        <div class="card-footer">
          <a href="https://projeto-encontro-noivos.vercel.app/" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="https://github.com/ellenri/projeto-encontro-noivos" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="projeto-card">
      <div class="card-content">
        <div class="card-header">
          <img src="assets/presente-dani.png" alt="Projeto" class="projeto-imagem">
          <h2>AI Culinária</h2>
        </div>
        <p class="projeto-descricao">
          AI usando librerias opensource para saber que cocinar. Uma aplicação de inteligência artificial que sugere receitas baseadas em ingredientes disponíveis.
        </p>
        <div class="card-footer">
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
          </a>
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
          <a href="#" class="card-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="mais-trabalhos-container">
    <button class="mais-trabalhos-btn">mais trabalhos</button>
  </div>
</div>
