<section class="container-sobre">
  <div class="green-container"> </div>
    <div class="white-container">
      <div class="academic-training">
        <img
          src="assets/icon_academic.svg"
          alt="icone formacao academica"
        />
        <h3>Formação acadêmica</h3>
        <p class="course">Bacharelado, Engenharia de software</p>
        <p class="institution">Estácio</p>
        <p class="date">2023- cursando</p>
      </div>

      <div class="linha-vertical"></div>

      <div class="developer">
        <img
          src="assets/icon_dev.svg"
          alt="icone desenvolvedor"
        />
        <h3>Desenvolvimento full stack</h3>
        <p>Azure Devops</p>
        <p class="important-tag">C# .NET</p>
        <p>Entity Framework</p>
        <p>SQL Server API rest</p>
        <p>Swagger</p>

        <p class="important-tag">React Angular</p>
        <p>Kendo UI</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>

        <p class="important-language">Git</p>
        <p>Javascript</p>
      </div>

      <div class="linha-vertical"></div>

      <div class="experience">
        <img
          src="assets/icon_experience.svg"
          alt="icone experiencia-profissional"
        />
        <h3>Experiência</h3>
        <p class="enterprise">Intactus</p>
        <p class="description">Estágio em Desenvolvimento full satck C#/.NET</p>
        <p class="date">abr de 2023 - out de 2024</p>
      </div>

  </div>
</section>
