<section class="container-sobre">
  <div class="green-container">
    <h1>Sobre mim</h1>
    <p>Troquei a pá pela programação! Após um bootcamp intensivo em 2022, mergulhei no desenvolvimento full stack.
      Com 1 ano e 7 meses de experiência em uma empresa fintech, aprimorei minhas habilidades em C#, .NET, SQL Server,
      Kendo UI. Atualmente, curso Engenharia de Software e busco novos desafios para criar soluções inovadoras na
      interseção entre design e desenvolvimento. Fora do trabalho, sou apaixonada por minha família, leitura e crossfit.</p>
  </div>

  <div class="white-container">
    <div class="academic-training card">
      <img
        src="assets/icon_academic.svg"
        alt="icone formacao academica"
      />
      <h3>Formação acadêmica</h3>
      <p class="course">Bacharelado, Engenharia de software</p>
      <p class="institution">Estácio</p>
      <p class="date">2023- cursando</p>
      <br>

      <p class="course">Desenvolvimento fullstack, com especialização em front end</p>
      <p class="institution">Gama Academy</p>
      <p class="date">jun de 2022- dez de 2022</p>
      <br>

      <p class="course">Bacharelado, Agronomia</p>
      <p class="institution">Universidade Federal de Goiás</p>
      <p class="date">2012-2018</p>
    </div>

    <div class="developer card">
      <img
        src="assets/icon_dev.svg"
        alt="icone desenvolvedor"
      />
      <h3>Desenvolvimento full stack</h3>
      <p>Azure Devops</p>
      <br>
      <p class="important-tag">C# .NET</p>
      <p>Entity Framework</p>
      <p>SQL Server API rest</p>
      <p>Swagger</p>
      <br>
      <p class="important-tag">React Angular</p>
      <p>Kendo UI</p>
      <p>HTML</p>
      <p>CSS</p>
      <p>Javascript</p>
      <br>
      <p class="important-tag">Git</p>
      <p>Scrum</p>
    </div>

    <div class="experience card">
      <img
        src="assets/icon_experience.svg"
        alt="icone experiencia-profissional"
      />
      <h3>Experiência</h3>
      <p class="enterprise">Intactus</p>
      <p class="description">Estágio em Desenvolvimento full satck C#/.NET</p>
      <p class="date">abr de 2023 - out de 2024</p>
    </div>
  </div>
</section>
