@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

:root {
  --primary-color: #5db344;
  --secondary-color: #a374bd;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 80%;
  margin: 30px auto;
  padding: 30px;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}
